<div class="hero device">
<div class="container mt-5">
    <div class="row pt-1 pb-1">
        <div class="col">
            <h1 class="fw-bold"><a href="{{ path('home') }}" style="text-decoration: none; color: #001976;">Jüdisches Hamburg erzählen</a></h1>
            <p class="lead">Geschichte(n) präsentieren – Vielfalt abbilden. Ein Interviewprojekt zum jüdischen Leben in Hamburg seit 1945 </p>
        </div>
    </div>
</div>
</div>